.head{

background-color: #BC1F2A;
height: 150px;
width:100%;
}
.footer{

background-color:#14786D;
height:150px;

width:100%;
}
.forma{
margin-top:150px;
  position:static;
  top: 200px;
  width: 750px;
  height: 200px;
  float:right;
}
.logo{
margin-right:20px;
margin-top:100px;
text-align:right;
position:static;
top:200px;
left:0;
width:750px;
height:200px;
float:left;
}
.sadrzaj{

position:static;
top:200px;
width:1600px;
height:500px;

}
.glavnidiv {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
	height:100%;
	margin-left:0%;
	margin-right:0%;
	
	
	
}
.nav {
margin-top:2%;
margin-left:2%;
padding-top:2%;
text-align:center;
height:70%;
    width: 20%;
    float:left; 
    border: 1px solid red;
	
}
.stanje{
margin-top:2%;
height:5%;
border: 1px solid black;
float:right;
width:75%;
margin-right:2%;


}
.sadrzajstranice{
margin-right:2%;
margin-top:2%;

border:1px solid black;
float:right;
width:75%;
margin-bottom:3%:




}
.naslov{
padding-left:4%;
font-size:25px;
}
ul.tekstzivo li{

font-size:20px;
text-align:left;
}

ol.sidra li{
padding-left:2px;
display:inline;
font-size:18px;
}
ul.tekstzivo:hover{
 background-color: yellow;
 }
 h1.naslov:hover{
  background-color: blue;
 }
 .odjava{
 float:right;
 margin-right:2%;
 margin-bottom:1%;
 
 }

